In [8]:
import json
import pandas as pd

In [33]:
def read_data(path):
    rawdata=[]
    with open(path,"r",encoding="utf8") as infile:
        while True:
            linestr=infile.readline()
            if not linestr:
                break
            line=json.loads(linestr)
            rawdata.append(line)
    infile.close()
    return rawdata

In [36]:
User_Path="dataset\Peoria_Data\Peoria_User.json"
Review_Path="dataset\Peoria_Data\Peoria_Review.json"
Business_Path="dataset\Peoria_Data\Peoria_business.json"
Business_raw_data=read_data(Business_Path)
User_raw_data=read_data(User_Path)
Review_raw_data=read_data(Review_Path)

In [44]:
# Pre-processing the business data
Business_ids=[]
Business_names=[]
for shop in Business_raw_data:
    Business_ids.append(shop["business_id"])
    Business_names.append(shop["name"])
Business_df=pd.DataFrame()
Business_df["business_id"]=Business_ids
Business_df["name"]=Business_names



#Pre-processing the User data
User_ids=[]
User_names=[]
User_Review_Counts=[]
for user in User_raw_data:
    User_ids.append(user["name"])
    User_names.append(user["name"])
    User_ids.append(user["name"])

              business_id                          name
0  Q1GhjqlLENaT383k9Ex5wg                   Daily Donut
1  cz5kBEZMHKyJ_nZXn-IRIA              Hall Brent R DDS
2  U1iF2RC18uBgBe01z5BMXw              Church's Chicken
3  9eY5ZfKPc_oz6Co5WCPynQ  Fullerton Financial Planning
4  aERMWmIT6yJVGYIn4qQizQ             GO AZ Motorcycles

In [41]:
#Pre-processing the User data
User_ids=[]
User_names=[]
User_Review_Counts=[]
for user in User_raw_data:
    User_ids.append(user["user_id"])
    User_names.append(user["name"])
    User_Review_Counts.append(user["review_count"])
User_df=pd.DataFrame()
User_df["user_id"]=User_ids
User_df["name"]=User_names
User_df["Review_Counts"]=User_Review_Counts
User_df.head()

                  user_id         name  Review_Counts
0  eSlOI3GhroEtcbaD_nFXJQ        Jason           2518
1  U4INQZOPSUaj8hMjLlZ3KA      Michael           4308
2  xZAmw5gihOVO4duMN2Ju6Q        Flynn             70
3  F78tJHr0qW6FsYBtWMmLpA  Christopher            267
4  TUE3NJYN4i7xyGVSIXMLvw     Kymberly             13

In [ ]:
#Pre-processing the Review Data
Review_ids=[]
Review_User_ids=[]
Review_Business_ids=[]
Review_Stars=[]
for review in Review_raw_data:
    Review_ids.append(review["review_id"])
    Review_User_ids.append(review["user_id"])
    Review_Business_ids.append(review["business_id"])
    Review_Stars.append(review["stars"])
Review_df=pd.DataFrame()
Review_df["id"]=Review_ids
Review_df["user_id"]=Review_User_ids
Review_df["business_id"]=Review_Business_ids
Review_df["stars"]=Review_Stars
Review_df.head()